@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    position: absolute;
    min-width: 450px;
    width: 100%;
    height: fit-content;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.grid-body{
    position: relative;
    display: grid;
    grid-template-rows: min-content auto min-content;
    height: 100%;
    transition: transform 3s;
}

/* parte do header */

header{
    position: fixed;
    height: 100px;
    width: 100%;
    box-shadow: 1px 1px 5px 1px rgb(143, 143, 143);
}

.header{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #000000;
}

.nav-menu{
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.logo{
    width: fit-content;
    min-width: 150px;
    margin-left: 30px;
    align-content: center;
    transition: all 1s;
}

.nav-menu a{
    color: #000000;
    font-size: large;
    font-weight: bold;
    transition: all 0.5s;
}

.nav-menu a:hover{
    color: rgb(0, 0, 255);
}

@media (max-width: 700px){
    .nav-menu{
        display: none;
    }

    .nav-menu-responsivo{
        display: block;
    }
}

.logo-menu{
    min-width: 60px;
    flex: 1;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: all 1s;
}

.logo-menu > i{
    font-size: 40px;
    transition: all 0.5s;
}

.logo-menu > i:hover{
    color: rgb(0, 0, 255);
    cursor: pointer;
}

@media (min-width: 701px){
    .logo-menu{
        display: none;
    }
}

/* .nav-menu-responsivo{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@keyframes abrirMenu{
    from{
        height: 0px;
        width: 0px;
    }
    to{
        height: 100vh;
        width: 100vw;
    }
} */

/* parte do main */
.main{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main > section{
    height: fit-content;
    min-height: 100vh;
    max-height: fit-content;
    width: 100%;
    max-width: 100vw;
    display: flex;
    align-items: center;
    align-content: center;
    scroll-snap-align: start;
}

.section-conteudo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 255, 0.308);
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px #00000030;
    padding: 20px;
    gap: 30px;
}

.img-perfil{
    width: 150px;
    height: 150px;
    margin-left: 10px;
    align-self: center;
    object-fit: contain;
    border-radius: 50%;
}

#nome{
    transition: all 1s;
}

.img-perfil:hover ~ p #nome{
    color: #ffffff;
} 

.section-conteudo  p{
    max-width: 500px;
    font-size: 25px;
    color: black;
    align-self: center;
}

#section-habilidades > .section-conteudo{
    display: flex;
    flex-direction: column;
}

@media (max-width: 870px){
    #section-habilidades > .section-conteudo{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #section-projetos > .section-conteudo{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


.habilidades{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.habilidade{
    height: 100px;
    margin: 75px;
}

.img-habilidade{
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.habilidade-progresso{
    height: fit-content;
    width: 100px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.habilidade-progresso > i{
    color: #000;
}

#section-projetos > .section-conteudo{
    display: flex;
    flex-direction: column;
}

.projetos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.projetos a{
    height: fit-content;
    width: fit-content;
    margin: 10px;
}

.projeto h1{
    color: #000;
    transition: all 1s;
}

.projetos a:hover .projeto h1{
    color: #fff;
}

.projeto{
    height: 250px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.308);
    border-radius: 20px;
}



/* parte do footer */

footer{
    position: absolute;
    height: fit-content;
    width: 100%;
    bottom: 0px;
    margin-bottom: -100px;
    background-color: #fff;
    box-shadow: 2px 2px 8px 1px rgb(0, 0, 0);
}

.footer{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.rede-social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.link-rede-social i{
    font-size: 25px;
    color: rgb(0, 0, 0);
    transition: all 0.5s;
}

.link-rede-social i:hover{
    color: rgb(0, 0, 255);
    opacity: 80%;
}

.copyright{
    display: inline-block;
    margin-left: 10px;
}
